<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/admin/admin.css">
  <link rel="stylesheet" href="/admin/investor.css">
  <link rel="stylesheet" href="/admin/admininvestertable.css">
</head>
<body>
  {{{body}}}
</body>

<!-- ✅ Only this line for JS -->
<script src="/admin/admin.js" defer></script>

</html>
